body {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 20px;
}
header {
    width: 100%;
    position: fixed;
    background: #ffc107;
}
.title h1, h3 {
    color: #020202;
    margin: 0px;
}
.title h1 {
    font-size: 2em;
    padding-top: 15px;
}
.title h3 {
    font-size: 1.2em;
    padding-bottom: 15px;
    font-weight: 300;
}
main {
    padding-top: 120px;
}
img {
    width: 100%;
}
h4, p {
    width: 80%;
}
h4 {
    font-size: 1em;
    margin: 20px auto 0 auto;
    color: #444;
}
.box {
    border: solid 1px #e9e7e8;
    margin-bottom: 20px;
}
.cotent {
    width: 100%;
}
p {
    font-size: 0.9em;
    margin: 5px auto 20px auto;
    color: #666;
    font-weight: 100;
}
