body {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 20px;
}
header {
    width: 100%;
    position: fixed;
    background: #ffc107;
}
.title h1, h3 {
    color: #020202;
    margin: 0px;
}
.title h1 {
    font-size: 2em;
    padding-top: 15px;
}
.title h3 {
    font-size: 1.2em;
    padding-bottom: 15px;
    font-weight: 300;
}
main {

    padding-top: 100px;
}


.col-4 {
  margin-top: 20px;
}

img {
    width: 100%;
    border-top: solid 1px #e9e7e8;
    border-left: solid 1px #e9e7e8;
    border-right: solid 1px #e9e7e8;
}
.border {
    margin-top: -4px;
    border-bottom: solid 1px #e9e7e8;
    border-left: solid 1px #e9e7e8;
    border-right: solid 1px #e9e7e8;
}
h4, p {
    width: 80%;
}
h4 {
    font-size: 1em;
    margin: 20px auto 0 auto;
    color: #444;
}
p {
    font-size: 0.9em;
    margin: 5px auto 20px auto;
    color: #666;
    font-weight: 100;
}
